# ML Pipeline Preparation
Follow the instructions below to help you create your ML pipeline.
### 1. Import libraries and load data from database.
- Import Python libraries
- Load dataset from database with [`read_sql_table`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql_table.html)
- Define feature and target variables X and Y

In [1]:
# import libraries
import re
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings 
warnings.filterwarnings('ignore')
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.multioutput import MultiOutputClassifier
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.base import BaseEstimator, TransformerMixin

In [2]:
# load data from database
engine = create_engine('sqlite:///DisasterResponse.db')
df = pd.read_sql_table('ETL_processed_data', engine)

# take a look of df
df.head()

,id,message,original,genre,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# define the columns "message" + "original" + "genre" as predictors and rest 36 categories as target
X = df.ix[:,1:4]
Y = df.ix[:,4:]

### Do some data exploratory

In [4]:
# Take a look of predictors and targets
X.head()

,message,original,genre
0,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [5]:
Y.head()

,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# check the null values distribution
X.isnull().sum()

message         0
original    16046
genre           0
dtype: int64

In [7]:
Y.isnull().sum()

related-1                   0
request-0                   0
offer-0                     0
aid_related-0               0
medical_help-0              0
medical_products-0          0
search_and_rescue-0         0
security-0                  0
military-0                  0
child_alone-0               0
water-0                     0
food-0                      0
shelter-0                   0
clothing-0                  0
money-0                     0
missing_people-0            0
refugees-0                  0
death-0                     0
other_aid-0                 0
infrastructure_related-0    0
transport-0                 0
buildings-0                 0
electricity-0               0
tools-0                     0
hospitals-0                 0
shops-0                     0
aid_centers-0               0
other_infrastructure-0      0
weather_related-0           0
floods-0                    0
storm-0                     0
fire-0                      0
earthquake-0                0
cold-0                      0
other_weather-0             0
direct_report-0             0
dtype: int64

In [8]:
X['genre'].value_counts()

news      13054
direct    10766
social     2396
Name: genre, dtype: int64

** Findings
For predictors, "message" and "original" are text variables. "original" has 16,046 missing values. "genre" is 
categorical variable and has 3 levels. I am going to do some preprocessing to deal with missing values and text transform.
Create dummy variables for the categorical one.
For targets, we have no missing values and each label is composed of 0 or 1.

### 2. Write a tokenization function to process your text data

In [9]:
def tokenize(text):
    
    # Normailization -- lower case + remove puntuation 
    text = re.sub(r"[^a-zA-Z0-9]"," ",text.lower())
    
    # tokenization
    tokens = word_tokenize(text)
    
    # Remove stop words
    words = [word for word in tokens if word not in stopwords.words("english")]
    
    # stemmization
    text_lems = [WordNetLemmatizer().lemmatize(lem).strip() for lem in words]
        
    return text_lems

In [10]:
tokenize(X['message'].values[20])

['would', 'like', 'know', 'one', 'radio', 'ginen', 'journalist', 'died']

### 3. Build a machine learning pipeline
This machine pipeline should take in the `message` column as input and output classification results on the other 36 categories in the dataset. You may find the [MultiOutputClassifier](http://scikit-learn.org/stable/modules/generated/sklearn.multioutput.MultiOutputClassifier.html) helpful for predicting multiple target variables.

In [11]:
pipeline = Pipeline([
    ('vect', CountVectorizer(tokenizer = tokenize)),
    ('tfidf', TfidfTransformer()),
    ('clf', MultiOutputClassifier(RandomForestClassifier()))
])

### 4. Train pipeline
- Split data into train and test sets
- Train pipeline

In [18]:
# Split train and test datasets
X_train, X_test, Y_train, Y_test = train_test_split(X['message'].values,Y.values,test_size = 0.25, random_state = 42)

In [ ]:
# Train pipeline
pipeline.fit(X_train, Y_train)

### 5. Test your model
Report the f1 score, precision and recall for each output category of the dataset. You can do this by iterating through the columns and calling sklearn's `classification_report` on each.

### 6. Improve your model
Use grid search to find better parameters.

In [ ]:
parameters = 

cv =

### 7. Test your model
Show the accuracy, precision, and recall of the tuned model.  

Since this project focuses on code quality, process, and  pipelines, there is no minimum performance metric needed to pass. However, make sure to fine tune your models for accuracy, precision and recall to make your project stand out - especially for your portfolio!

### 8. Try improving your model further. Here are a few ideas:
* try other machine learning algorithms
* add other features besides the TF-IDF

*** Need to do in pipeline:
    1. data type selector -- class
    2. text variable selector
    3. deal with each data type: 
        1) numerical -- scaler + imputer (mean)
        2) categorical -- imputer ('NaN') + CountVectorizer + tfidf
    4. clf
    5. Put all together

### 9. Export your model as a pickle file

### 10. Use this notebook to complete `train.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database and export a model based on a new dataset specified by the user.